django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
python-dotenv==1.0.1
PyMySQL==1.1.1
cryptography==43.0.3
Pillow==11.0.0
pypdf==4.3.1
python-docx==1.1.2
python-pptx==1.0.2
celery==5.4.0
redis==5.2.0
dj-rest-auth==7.0.0
django-allauth==65.3.0
django-storages[s3]==1.14.4
boto3==1.35.0
drf-spectacular==0.27.2
django-filter==24.3
whitenoise==6.7.0
gunicorn==23.0.0
requests==2.32.3
